.esa-options-table {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #666;
	margin: 0 1% 1em;
	width: 98%;
}
.esa-options-table thead {
	background: #e2e2e2;
}
.esa-options-table h3 {
	margin: 0;
	padding: 0;
}
.esa-options-table div.checkbox-container {
	width: 30%;
	padding: .25em 1.5% .25em 1%;
	border: 1px solid #333;
	margin-left: -1px;
	margin-top: -1px;
	float: left;
}
#wpcontent .esa-options-table select.role-members-select {
	height: 10em;
	width: 20em;
}
.esa-options-table div.checkbox-container:nth-of-type(3n+1) {
	clear: left;
}
.esa-options-table div.checkbox-container:nth-of-type(3n+3) {
	clear: right;
}
.esa-options-table div.checkbox-container:nth-of-type(6n+1), 
.esa-options-table div.checkbox-container:nth-of-type(6n+2), 
.esa-options-table div.checkbox-container:nth-of-type(6n+3) {
	background: #e2e2e2;
}
.esa-options-table div.checkbox-container.even-row {
	background: #e2e2e2;
}
.esa-options-table div.checkbox-container:hover {
	background: #eee;
}
.esa-options-table div.checkbox-container div.caps_info { display: none; }